<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-10 col-md-offset-1">
  <div class="form-group">
    <%= f.label :cans %>
    <%= f.number_field :cans, :value => 1, within: 1..10 , :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :water_brand %>
    <%= f.select(:water_brand, ["Bisleri", "Kinley", "Bublee", "Aquafina", "Himalayan","Bailey","Kingfisher"], {}, { :class => 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control", :id => "lnl" %>
  </div>

  <div id="map" ></div>
  <div id="message"  style="display:none">Location saved</div>

  <div class="actions">
    <%= f.submit :class => "btn btn-raised btn-info" %>
  </div>
</div>
<% end %>
<script>
  var map;
  var marker;
  var infowindow;
  var messagewindow;

  function initMap() {
    var defaultLocation = {lat: 13.016147, lng: 77.642913};
    map = new google.maps.Map(document.getElementById('map'), {
      center: defaultLocation,
      zoom: 15
    });

    infowindow = new google.maps.InfoWindow({
      content: "<table>" +
                 "<tbody>" +
                   "<tr><td>Mobile:</td><td><input id='mobile' type='text'></td></tr>" +
                   "<tr><td>Address:</td><td><input id='address' type='text'></td></tr>" +
                   "<tr><td></td><td><input value='Order' onclick='placeOrder()' type='button'></td></tr>" +
                 "</tbody>" +
               "</table>"
    })

    messagewindow = new google.maps.InfoWindow({
      content: document.getElementById('message')
    });

    google.maps.event.addListener(map, 'click', function(event) {
      if(marker === undefined){
        marker = new google.maps.Marker({
          position: event.latLng,
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }
      else{
        marker.setPosition(event.latLng)
      }
      infowindow.open(map, marker);
    });
  }

  function placeOrder() {
    var mobile = escape(document.getElementById('mobile').value);
    var address = escape(document.getElementById('address').value);
    var latlng = marker.getPosition();
    var url = '/order/new?mobile=' + mobile + '&address=' + address +
              '&lat=' + latlng.lat() + '&lng=' + latlng.lng();

    var lnl = latlng.lat() + ',' + latlng.lng();
    $("#lnl").attr("value",lnl)
    console.log(url);
  }
</script>