<div class="container orders">
  <h1> My Orders </h1>
  <div class="row row-fluid">
    <% @orders.each do |order| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-height-indicator"></div>
          <div class="card-content">
            <div class="card-body">
              <div class="pull-right qty" >
                <%= "#{order.cans} #{"Can".pluralize(order.cans.to_i)}" %>
              </div>
              <h5><%= order.water_brand.upcase %></h5>
              <p class="clever">
                <%= order.address %><br>
                <%= order.created_at.strftime("%d %b %Y %l:%M %p") %><br>
              </p>
              <div class="icons-set clearfix">
                <div class="pull-left">
                  <span class="label label-<%= class_for[order.state.to_sym] %>"><%= order.state.upcase %></span>
                </div>
                <div class="pull-right">
                  <%= link_to edit_order_path(order) do %>
                    <i class="material-icons">mode_edit</i> 
                  <% end %>
                  <%= link_to order_path(order) do %>
                    <i class="material-icons">info_outline</i> 
                  <% end %>
                  <%= link_to order_path(order), "data-confirm" => "Are you Sure?", :method => :delete do %>
                    <i class="material-icons">delete</i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p> <%= link_to "Order a New Water can", new_order_path %>
</div>

