<p id="notice"><%= notice %></p>

<p>
  <strong>Cans:</strong>
  <%= @order.cans %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Water brand:</strong>
  <%= @order.water_brand %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
